<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Featured products</h2>
  {{#each data}}
  <span class="col-2 g-4">
  <div class="col-5 d-inline-flex">
    <div class="card p-2 m-2">
      <img src="{{this.image}}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">{{this.brand}}</h5>
        <p class="card-text">{{this.price}}$</p>
        <a href={{this.p}}></a>
      </div>
    </div>  
  </span>
</div>
  {{/each}}