<div class="container col-xxl-8 px-4 py-5 bg-light">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Discover the Joy of Riding: Explore the Best Electric Bikes in our Ebike Marketplace</h1>
      <p class="lead"> Our range of ebikes offers the perfect blend of convenience, speed, and affordability, making them the ideal choice for commuting, leisurely rides, and off-road adventures. With easy-to-use features, long-lasting batteries, and powerful motors, our ebikes provide a seamless riding experience that's hard to beat. So why wait? Explore our collection today and discover the joy of riding an electric bike.</p>

    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://www.electrive.com/wp-content/uploads/2019/06/bosch-ebike-systems-pedelec-e-bike-neuheiten-2020-03-min.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" />
    </div>

  </div>
</div>