<div class="row d-flex justify-content-center align-items-center rows">

  <div class="col-md-6">

    <div class="card">

      <div class="text-center">

        <img src="https://i.imgur.com/Dh7U4bp.png" width="200" />
        <span class="d-block mt-3">Subscribe to our newsletter in order not to miss new arrivals <br /> promotions and discounts of our store</span>

        <div class="mx-5">
         <form class="container mb-5"action="/newsletter" method="POST">
          <div class="input-group mb-3 mt-4">
            <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2" />
            <button class="btn btn-primary border-rad" type="button" id="button-addon2">Subscribe</button>
          </form>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>