<div class="container col-xxl-8 px-4 py-5 bg-light">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://www.zdnet.com/a/img/resize/6d84db5a0bd552477a45ee5313bf52e65b656f69/2022/08/20/055e5045-6b2e-494d-af06-bc18bbf9c58a/ariel-rider-grizzly-review-best-electric-bike-best-ebike.jpg?auto=webp&fit=crop&height=1200&width=1200" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Find Your Perfect Electric Bike Today</h1>
      <p class="lead">Upgrade your commute with our electric bike marketplace. We've curated a selection of top-quality ebikes from leading manufacturers to provide you with the best options for your daily ride.
        <br />
        <br />
        Browse our user-friendly platform to compare features and prices, and find the perfect match for your needs and budget. Plus, we offer a variety of accessories and upgrades to customize your ride and make it even better. From stylish helmets to powerful batteries, we have everything you need to enhance your ebike experience.
        <br />
        <br />Join the ebike revolution today and discover the convenience, efficiency, and eco-friendliness of electric bikes.</p>

    </div>
  </div>
</div>