# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env


# FIX OFF CANVAS NOT WOWRKING FULL SCREEN 
# ADD CART LOGIC 
# FEED CARDS HOMEPAGE WITH PRODUCTS
# POPULATE DB
# LINK PRODUCT DETAIL PAGE - DONE
# CHECK-OUT PROCESS 
# SUCESS PAGE 
# RESPONSIVNESS
