# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env


# ADD CART LOGIC 
# FEED CARDS HOMEPAGE WITH PRODUCTS
# POPULATE DB - DONE 
# LINK PRODUCT DETAIL PAGE - DONE
# CHECK-OUT PROCESS 
# SUCESS PAGE 
# RESPONSIVNESS
