<div class="container-fluid">
  <h1>{{product.title}}</h1>
  <h2>{{product.description}}</h2>
</div>
<div class="container-fluid d-flex justify-content-center">
  {{#each product.image}}
    <img src="{{this}}" alt="" class="" />
  {{/each}}
</div>

<form action="/product/{{product._id}}" method="POST" id="buyForm">
  <button class="btn btn-primary border-rad">Add to cart</button>
</form>