{{#each data}}
  <div class="container-fluid">
    <a href="/product/{{this._id}}" class="text-decoration-none text-dark">
    <div class="row my-4">
      <div class="col-4 object-fit-contain">
        <img src="{{image}}" alt="" class="img-fluid" />
      </div>
      <div class="col-8 d-flex justify-content-center align-items-center">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
  </a>
{{/each}}