{{>searchsection}}

<div id="scrollDiv"></div>
{{#each data}}
  <div class="container-fluid">
    <a href="/product/{{this._id}}" class="text-decoration-none text-dark">
      <div class="row my-4">
        <div class="col-4 object-fit-contain">
          <img src="{{image}}" alt="" class="img-fluid" />
        </div>
        <div class="col-8 d-flex flex-column justify-content-around align-items-center">
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
        </div>
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary m-3">See the product</button>
        </div>
      </div>
    </a>
  </div>
  <hr />
{{/each}}

 <script>
    window.onload = function() {
      document.getElementById('scrollDiv').scrollIntoView();
    };
  </script>