<div class="grid-2 text-center m-5">
  <h2 class="">
    Hello
    {{userInSession.username}}
  </h2>
  <p>welcome to the admin page.</p>
</div>
<div class="d-grid gap-2 m-5">
  <form class="d-grid gap-2" action="/new-listing" method="GET">
    <img src="https://i.ytimg.com/vi/nbrvhplP3Vk/maxresdefault.jpg" class="img-fluid" alt="sellebike" />
    <button class="btn btn-primary mb-5" type="submit">Sell bike</button>
  </form>
  <form class="d-grid gap-2" action="/allListings" method="GET">
    <img src="https://ebikeshq.com/wp-content/uploads/2021/03/Ebike_For_Sale-1024x1024.jpg" class="img-fluid" alt="sellebike" />
    <button class="btn btn-primary mb-5" type="submit">See your posts</button>
  </form>
  <form class="d-grid gap-2" action="/logout" method="POST">
    <button class="btn btn-outline-primary" type="submit">Log out</button>
  </form>
</div>