<body>
    <div class="d-flex-col container-fluid  align-items-center justify-content-center vh-100 bg-primary">
        <h1 class="display-1 fw-bold text-white">404</h1>
        <h4 class="text-white" >  This route does not exist on the server! Check your app to see if everything is ok! To find out what may have happened, check your routes.</h4>
    </div>
  </body>
</h2>